#rootInput {
  display: flex;
  background-color: black;
  width: 60vw;
  min-height: 4rem;
  flex-direction: column;
  position: fixed;
  align-items: center;
  justify-content: center;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
  z-index: 1000;
}

#input {
}

#selectable {
}

#history {
}

p {
  color: red
}
